[core]
    editor = nano
    filemode = false
[credential]
    helper = store
[alias]
    s = status -s
    c = commit
    cc = checkout
    cb = checkout -b
    cl = clean
    l = log --graph --decorate --oneline
    h = log --no-merges --pretty=format: --since="1 years ago" --name-only -- "*" | grep -v '^$' | sort | uniq -c | sort -rg | head -20 | awk '{printf "\033[1;32m%4d\033[0m \033[1;34m%-50s\033[0m ", $1, $2; for(i=0;i<$1/10;i++) printf "■"; print ""}'
    amend = commit --amend --reuse-message=HEAD
    contributors = shortlog --summary --numbered
    branches = branch -a
[color "branch"]
    current = yellow reverse
    local = cyan
    remote = green
[color "status"]
    added = green
    changed = yellow
    untracked = red
[color "diff"]
    old = red reverse
    new = green reverse
[help]
    autocorrect = 1
[init]
    defaultBranch = main
